// COLORS
$white: #ffffff;
$black: #000000;
$light-purple: #483958;
$main-purple: #372248;
$light-grey: #F6F6F6;
$bg-grey: #EBE8EC;
$grey-text: #989898;
$medium-grey: #F0F0F0;
$grey-borders: #979797;
$orange: #FA6755;
$vibrant-orange: #F46036;
$blue-text: #5B85AA;

// FONTS

$brand-bold: CircularStd-Bold;
$brand-book: CircularStd-Book;
$brand-italic: CircularStd-BookItalic;

//FONTS
@font-face {
font-family: Circular Std;
src: url(../assets/fonts/CircularStd-Book.otf);
}

@font-face {
    font-family: CircularStd-Book;
    src: url(../assets/fonts/CircularStd-Book.otf);
}

@font-face {
    font-family: CircularStd-Bold;
    src: url(../assets/fonts/CircularStd-Bold.otf);
}

@font-face {
    font-family: CircularStd-BookItalic;
    src: url(../assets/fonts/CircularStd-BookItalic.otf);
}


//BORDER

$c-border: 10px;


// Breakpoints

$down-xs: "(max-width: 767px)";
$up-xs: "(min-width: 768px)";

$phone-portrait: "(min-width: 0px) and (max-width: 400px)";
$phone-landscape: "(min-width: 421px) and (max-width: 767px)";

$tablet: "(min-width:  768px) and (max-width: 991px)";
$down-tablet: "(max-width:  991px)";
$Desktop-xs: "(min-width:  992px) and (max-width: 1199px)";
$desktop: "(min-width:  992px)";
