@font-face {
  font-family: Circular Std;
  src: url(../assets/fonts/CircularStd-Book.otf); }
@font-face {
  font-family: CircularStd-Book;
  src: url(../assets/fonts/CircularStd-Book.otf); }
@font-face {
  font-family: CircularStd-Bold;
  src: url(../assets/fonts/CircularStd-Bold.otf); }
@font-face {
  font-family: CircularStd-BookItalic;
  src: url(../assets/fonts/CircularStd-BookItalic.otf); }
.choose-s .choose-s__title, .choose-s .choose-s__subtitles, .choose-s .choose-s__price, .walkin-s .walkin--title, .storage-s .chooselo--header, .first-order-s .your-order__title, .questions-s .faq--title {
  font-family: CircularStd-Bold; }

.choose-s .choose-s__subtitles {
  font-size: 23px;
  color: #372248; }

.choose-s hr {
  width: 250px;
  margin-top: 5px;
  margin-bottom: 0; }

.storage-s hr {
  width: 150px;
  margin-top: 5px;
  margin-bottom: 0; }

.choose-s .choose-s__price {
  font-size: 40px;
  color: #372248; }

.walkin-s .city-card, .partner-s .partner-card, .storage-s .storage-divs .storage-card {
  width: 330px;
  height: 177px;
  background-color: #ffffff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: .25rem;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center; }

.walkin-s .cities-divs .la-div:hover, .walkin-s .cities-divs .seattle-div:hover, .partner-s .doctor-card:hover, .partner-s .partner-card:hover, .storage-s .storage-divs .storage-la-card:hover, .storage-s .storage-divs .storage-seattle-card:hover {
  -webkit-box-shadow: 0px 0px 10px 1px #4f4f4f;
  -moz-box-shadow: 0px 0px 10px 1px #4f4f4f;
  box-shadow: 0px 0px 10px 1px #4f4f4f; }

.discount-code-s .discount-bar__button, .schedule-s .schedule-s-content .schedule-button button {
  border-radius: 10px;
  color: #ffffff;
  background-color: #FA6755;
  border-color: #ffffff;
  border-width: 2px;
  cursor: pointer; }

.footer-s .footer-subscribe, .breakdown-s .breakdown-checkout {
  background-color: #F46036;
  border: none;
  margin: 0px 0px 20px 0px;
  cursor: pointer; }

.choose-s .collection-at, .schedule-s .schedule-s-content .schedule-button {
  display: flex;
  align-items: center;
  justify-content: center; }

.quantity-button, #increase i, #decrease i, input#number {
  border-radius: 10px; }

.quantity-button, #increase i, #decrease i, input#number {
  border: 1px solid #979797; }

h3, h5 {
  overflow: hidden;
  text-align: center; }

h3:before, h5:before,
h3:after, h5:after {
  background-color: #000000;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 16%; }

h3:before, h5:before {
  right: 0.5em;
  margin-left: -50%; }

h3:after, h5:after {
  left: 0.5em;
  margin-right: -50%; }

.quantity-button {
  margin: 0 auto;
  text-align: center; }

.value-button {
  margin: 0px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.value-button:hover {
  cursor: pointer; }

#increase i, #decrease i {
  width: 30px; }

#decrease {
  margin: 0px 0px 10px 0px; }

input#number {
  font-size: 30px;
  text-align: center;
  margin: 0px;
  width: 40px;
  height: 40px; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

.footer-s {
  color: #ffffff;
  background-color: #372248; }
  .footer-s .footer-d {
    padding: 50px 30px 70px 30px; }
    .footer-s .footer-d .footer-titles {
      font-size: 30px; }
  .footer-s .form-row {
    margin-left: 0px !important; }
  .footer-s ul li {
    list-style: none;
    margin-bottom: 10px; }
    .footer-s ul li a {
      color: #ffffff;
      text-decoration: none;
      margin-bottom: 5px; }

.copyright {
  color: #ffffff;
  background-color: #483958; }
  .copyright .copyright-text {
    margin: 40px 0px 40px 30px; }

body {
  font-family: Circular Std;
  overflow-y: scroll;
  overflow-x: hidden; }

.w-container {
  margin-right: auto;
  margin-left: auto;
  max-width: 1440px; }

nav {
  background-color: #ffffff;
  font-family: CircularStd-Bold;
  font-size: 13px;
  letter-spacing: 0.20px; }
  nav .navbar-brand {
    margin-left: 2rem; }
  nav div ul li {
    list-style: none;
    margin-left: 20px; }
    nav div ul li a {
      color: #372248 !important;
      text-decoration: none; }
  nav div .nav-b-touch {
    border: 1px solid #372248;
    border-radius: 5px;
    border-width: 2px; }
  nav div .nav-b-started {
    background-color: #F46036;
    border-radius: 5px; }
    nav div .nav-b-started a {
      color: #ffffff !important; }
  @media (max-width: 991px) {
    nav div .nav-b-touch, nav div .nav-b-started {
      width: 100px;
      text-align: center;
      margin-bottom: 10px; } }

.choose-s {
  color: #ffffff;
  background-color: #372248; }
  .choose-s p {
    margin-bottom: 0; }
  .choose-s .choose-s__title {
    padding: 75px 0px 30px 0px; }
  .choose-s .choose-s__services {
    padding: 0px 0px 120px 0px; }
    .choose-s .choose-s__services .choose-s__walkin-div, .choose-s .choose-s__services .choose-s__concierge-div {
      color: #5B85AA;
      background-color: #ffffff;
      width: 360px;
      height: 378px; }
      @media (max-width: 767px) {
        .choose-s .choose-s__services .choose-s__walkin-div, .choose-s .choose-s__services .choose-s__concierge-div {
          margin: 15px 0px 0px 0px; } }
      @media (min-width: 320px) and (max-width: 480px) {
        .choose-s .choose-s__services .choose-s__walkin-div, .choose-s .choose-s__services .choose-s__concierge-div {
          width: 100%; } }
    @media (min-width: 320px) and (max-width: 480px) {
      .choose-s .choose-s__services .choose-s__walkin-div {
        margin-left: 0px; } }
    @media (min-width: 768px) and (max-width: 991px) {
      .choose-s .choose-s__services .choose-s__walkin-div {
        margin-left: 0px; } }
    .choose-s .choose-s__services .choose-s__concierge-div {
      margin-left: 30px; }
      @media (min-width: 320px) and (max-width: 480px) {
        .choose-s .choose-s__services .choose-s__concierge-div {
          margin-left: 0px; } }
      @media (min-width: 768px) and (max-width: 991px) {
        .choose-s .choose-s__services .choose-s__concierge-div {
          margin-left: 30px; } }
  .choose-s .choose-s__subtitles {
    margin: 40px 0px 0px 0px; }
  .choose-s .concierge-subtitle {
    color: #FA6755 !important; }
  .choose-s .collection-at {
    background-color: #EBE8EC;
    color: #372248;
    width: auto;
    height: 50px;
    margin: 10px 30px 20px 30px; }

.walkin-s {
  color: #000000;
  background-color: #ffffff; }
  @media (min-width: 320px) and (max-width: 480px) {
    .walkin-s .city-card {
      width: 100%; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .walkin-s .city-card {
      width: 100%; } }
  .walkin-s .walkin--title {
    color: #372248;
    margin: 50px 0px 40px 0px; }
  .walkin-s .cities-divs {
    font-size: 1.75rem;
    margin: 30px 0px 60px 0px; }
    .walkin-s .cities-divs .la-div:focus, .walkin-s .cities-divs .seattle-div:focus {
      outline: 0; }
    @media (min-width: 320px) and (max-width: 480px) {
      .walkin-s .cities-divs .la-div {
        margin-bottom: 15px; } }

.partner-s {
  color: #000000;
  background-color: #F6F6F6; }
  .partner-s .partner--header:before, .partner-s .partner--header:after {
    width: 20%; }
  .partner-s .partner--header {
    padding: 50px 0px 0px 0px; }
  .partner-s .partners-divs {
    padding: 15px 0px 60px 0px; }
  .partner-s .partner-card .cards-fontsize {
    font-size: 12px;
    margin: auto; }
  @media (min-width: 320px) and (max-width: 480px) {
    .partner-s .partner-card {
      width: 100%; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .partner-s .partner-card {
      width: 100%; } }
  @media (min-width: 320px) and (max-width: 480px) {
    .partner-s .doctor-card {
      margin-bottom: 15px; } }
  .partner-s .doctor-card:focus, .partner-s .partner-card:focus {
    outline: 0; }
  .partner-s .blood-partner {
    background-color: #F0F0F0; }

.storage-s p {
  margin-bottom: 0; }
.storage-s .storage-divs .storage-card {
  height: 302px; }
  .storage-s .storage-divs .storage-card .storage-fontsize {
    font-size: 20px; }
  .storage-s .storage-divs .storage-card .storage-price {
    font-size: 50px; }
  @media (min-width: 320px) and (max-width: 480px) {
    .storage-s .storage-divs .storage-card {
      width: 100%; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .storage-s .storage-divs .storage-card {
      width: 100%; } }
.storage-s .storage-divs .storage-la-card {
  margin: 0; }
  @media (min-width: 320px) and (max-width: 480px) {
    .storage-s .storage-divs .storage-la-card {
      margin-bottom: 15px; } }
.storage-s .storage-divs .storage-la-card:focus, .storage-s .storage-divs .storage-seattle-card:focus {
  outline: 0; }
.storage-s .chooselo--header {
  margin: 50px 0px 0px 0px; }
.storage-s .storage-divs {
  margin: 25px 0px 60px 0px; }

.first-order-s {
  background-color: #F6F6F6; }
  .first-order-s p {
    margin-bottom: 0; }
  .first-order-s .your-order__title {
    color: #372248;
    padding: 40px 0px 0px 0px; }
  .first-order-s .first-order__div {
    margin: 50px 0px 30px 0px; }
  .first-order-s .your-order__text:nth-of-type(1), .first-order-s .your-order__text:nth-of-type(3) {
    font-size: 25px; }
  .first-order-s .your-order__text:nth-of-type(2) {
    color: #989898; }

.second-order-s .quantity-button {
  margin: 30px 0px 30px 0px; }
  @media (min-width: 320px) and (max-width: 480px) {
    .second-order-s .quantity-button {
      margin: 30px 0px 0px 0px; } }
  .second-order-s .quantity-button p {
    margin: 10px 0px 0px 0px;
    font-size: 12px; }
    @media (min-width: 768px) and (max-width: 991px) {
      .second-order-s .quantity-button p {
        font-size: 9px; }
        .second-order-s .quantity-button p input#number {
          width: 100%; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .second-order-s .quantity-button input#number {
      width: 100%; } }
.second-order-s .quantity-line, .second-order-s .quantity-numbers {
  font-size: 22px; }
.second-order-s .quantity-line {
  border-left: 2px solid #979797;
  margin: 8px 0px 8px 0px; }
  .second-order-s .quantity-line p:nth-of-type(1) {
    margin: 50px 0px 5px 0px; }
  .second-order-s .quantity-line span {
    color: #989898; }
.second-order-s .quantity-numbers p:nth-of-type(1) {
  margin: 50px 0px 5px 0px; }
  @media (min-width: 320px) and (max-width: 480px) {
    .second-order-s .quantity-numbers p:nth-of-type(1) {
      margin: 60px 0px 5px 15px; } }
.second-order-s .quantity-numbers p:nth-of-type(2) {
  margin: 50px 0px 5px 0px; }
  @media (min-width: 320px) and (max-width: 480px) {
    .second-order-s .quantity-numbers p:nth-of-type(2) {
      margin: 138px 0px 5px 0px; } }

.discount-code-s {
  color: #ffffff;
  background-color: #FA6755; }
  .discount-code-s .discount-bar {
    padding: 30px 0px 30px 0px; }
  .discount-code-s .discount-bar__input {
    border: none;
    border-radius: 10px;
    width: 38%;
    margin: 0px 5px 0px 0px; }
    @media (min-width: 320px) and (max-width: 480px) {
      .discount-code-s .discount-bar__input {
        width: auto; } }
  .discount-code-s .discount-bar__button {
    width: 10%; }
    @media (min-width: 320px) and (max-width: 480px) {
      .discount-code-s .discount-bar__button {
        width: auto; } }

.breakdown-s {
  width: 100%;
  box-shadow: 3px 3px 3px #333;
  position: relative; }
  .breakdown-s .breakdown-amounts {
    margin: 10px 0px 0px 0px; }
  .breakdown-s .breakdown-checkout {
    width: 45%; }
    @media (min-width: 320px) and (max-width: 480px) {
      .breakdown-s .breakdown-checkout {
        width: auto; } }
  .breakdown-s .payment-methods img:nth-of-type(1) {
    max-width: 40%; }
    @media (min-width: 320px) and (max-width: 480px) {
      .breakdown-s .payment-methods img:nth-of-type(1) {
        max-width: 60%; } }
  .breakdown-s .secure-server img:nth-of-type(1) {
    max-width: 30%; }
    @media (min-width: 320px) and (max-width: 480px) {
      .breakdown-s .secure-server img:nth-of-type(1) {
        max-width: 50%; } }

.questions-s {
  color: #000000;
  background-color: #F6F6F6; }
  .questions-s .question-div .col-6 {
    padding-right: 0;
    padding-left: 0; }
  .questions-s .question-div .individual-question, .questions-s .question-div .individual-question-2 {
    background-color: #ffffff; }
    .questions-s .question-div .individual-question .ind-question-title, .questions-s .question-div .individual-question-2 .ind-question-title {
      font-size: 25px;
      padding: 15px 0px 5px 15px; }
    .questions-s .question-div .individual-question .ind-question-text, .questions-s .question-div .individual-question-2 .ind-question-text {
      font-size: 18px;
      padding: 0px 0px 20px 15px; }
  .questions-s .question-div .individual-question:nth-of-type(1) {
    margin: 0px 0px 0px 20px; }
    @media (min-width: 320px) and (max-width: 480px) {
      .questions-s .question-div .individual-question:nth-of-type(1) {
        margin: 0px 0px 0px 0px; } }
  .questions-s .question-div .individual-question:nth-of-type(2) {
    margin: 0px 0px 0px 0px; }
    @media (min-width: 320px) and (max-width: 480px) {
      .questions-s .question-div .individual-question:nth-of-type(2) {
        margin: 0px 0px 0px 0px; } }
  .questions-s .question-div .individual-question-2:nth-of-type(1) {
    margin: 0px 20px 10px 20px;
    overflow-wrap: break-word; }
    @media (min-width: 320px) and (max-width: 480px) {
      .questions-s .question-div .individual-question-2:nth-of-type(1) {
        margin: 0px 0px 0px 0px; } }
  .questions-s .question-div .individual-question-2:nth-of-type(2) {
    margin: 0px 20px 10px 20px;
    overflow-wrap: break-word; }
    @media (min-width: 320px) and (max-width: 480px) {
      .questions-s .question-div .individual-question-2:nth-of-type(2) {
        margin: 0px 0px 0px 0px; } }
  .questions-s .faq--title {
    color: #372248;
    padding: 40px 0px 40px 0px; }

.schedule-s {
  color: #ffffff;
  background-color: #FA6755; }
  @media (min-width: 320px) and (max-width: 480px) {
    .schedule-s .schedule-s-content .schedule-button {
      margin-bottom: 30px; } }
  .schedule-s .schedule-s-content .schedule-s-text:nth-of-type(1) {
    font-size: 35px;
    margin: 50px 0px 0px 30px; }
  .schedule-s .schedule-s-content .schedule-s-text:nth-of-type(2) {
    font-size: 18px;
    margin: 0px 0px 50px 30px; }
    @media (min-width: 320px) and (max-width: 480px) {
      .schedule-s .schedule-s-content .schedule-s-text:nth-of-type(2) {
        margin: 0px 0px 25px 30px; } }

@media (min-width: 320px) and (max-width: 480px) {
  .footer-d ul {
    margin-top: 25px; } }

/*# sourceMappingURL=style.css.map */
