@import 'variables';
@import 'extends';
@import 'headers';
@import 'quantity-button';
@import 'footer';

body {
  font-family: Circular Std;
  overflow-y: scroll;
  overflow-x: hidden;
}

.w-container {
  margin-right: auto;
  margin-left: auto;
  max-width: 1440px;
}

// NAV

nav {
  background-color: $white;
  font-family: $brand-bold;
  font-size: 13px;
  letter-spacing: 0.20px;
  .navbar-brand {
    margin-left: 2rem;
  }
  div {
    ul {
      li {
        list-style: none;
        margin-left: 20px;
        a{
          color: $main-purple !important;
          text-decoration: none;
        }
      }
    }
    .effect-link {
      position: relative;
    }

    .effect-link:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: $main-purple;
      visibility: hidden;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transition: all 0.3s ease-in-out 0s;
      transition: all 0.3s ease-in-out 0s;
    }
    .effect-link:hover:before {
      visibility: visible;
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
    }

    .effect-git-button:hover {
      background-color: $main-purple;
      transform: scale(1.1) perspective(1px);
      transition: .4s ease;
      a {
        color: $white !important;
      }
    }
    .effect-gs-button:hover {
      transform: scale(1.1) perspective(1px);
      transition: .4s ease;
    }
    .nav-b-touch {
      border: 1px solid $main-purple;
      border-radius: 5px;
      border-width: 2px;
    }
    .nav-b-started {
      background-color: $vibrant-orange;
      border-radius: 5px;
      a {
        color: $white !important;
      }
    }
    .nav-b-touch, .nav-b-started {
      @media #{$down-tablet} {
        width: 100px;
        text-align: center;
        margin-bottom: 10px;
      }
    }
  }
}

// END OF NAV
.choose-s {
  color: $white;
  background-color: $main-purple;
  p {
    margin-bottom: 0;
  }
  hr {
    @extend %first-section-hr;
  }
  .choose-s__title {
    padding: 75px 0px 30px 0px;
    @extend %bold-titles;
  }
  .choose-s__services{
    padding: 0px 0px 120px 0px;
    .choose-s__walkin-div, .choose-s__concierge-div {
      color: $blue-text;
      background-color: $white;
      width: 360px;
      height: 378px;
      @media #{$down-xs} {
        margin: 15px 0px 0px 0px;
      }
      @media #{$phone-xs} {
        width: 100%;
      }
    }
    .choose-s__walkin-div {
      @media #{$phone-xs} {
        margin-left: 0px;
      }
      @media #{$tablet} {
        margin-left: 0px
      }
    }
    .choose-s__concierge-div {
      margin-left: 30px;
      @media #{$phone-xs} {
        margin-left: 0px;
      }
      @media #{$tablet} {
        margin-left: 30px
      }
    }
  }
  .choose-s__subtitles {
    @extend %bold-titles;
    @extend %subtitles;
    margin: 40px 0px 0px 0px;
  }
  .concierge-subtitle {
    color: $orange !important;
  }
  .choose-s__price {
    @extend %bold-titles;
    @extend %prices;
  }
  .collection-at {
    background-color: $bg-grey;
    color: $main-purple;
    width: auto;
    height: 50px;
    margin: 10px 30px 20px 30px;
    @extend %center;
  }
}

.m-section {
  color: $black;
  background-color: $white;
  .city-card {
    @extend %cards-structure;
    @media #{$phone-xs} {
      width: 100%;
    }
    @media #{$tablet} {
      width: 100%;
    }
  }
  .m-section--title {
    @extend %bold-titles;
    color: $main-purple;
    margin: 50px 0px 40px 0px;
  }
  .cities-divs {
    font-size: 1.75rem;
    margin: 30px 0px 60px 0px;
    .ind-block:hover, .seattle-div:hover {
      @extend %divs-shadows;
    }
    .ind-block:focus, .seattle-div:focus {
      outline: 0;
    }
    .ind-block {
      @media #{$phone-xs} {
        margin-bottom: 15px;
      }
    }
  }
}


.partner-s {
  color: $black;
  background-color: $light-grey;
  .partner--header:before, .partner--header:after {
    width: 20%;
  }
  .partner--header {
    padding: 50px 0px 0px 0px;
  }
  .partners-divs {
    padding: 15px 0px 60px 0px;
  }
  .partner-card {
    @extend %cards-structure;
    .cards-fontsize {
      font-size: 12px;
      margin: auto;
    }
    @media #{$phone-xs} {
      width: 100%;
    }
    @media #{$tablet} {
      width: 100%;
    }
  }
  .doctor-card {
    @media #{$phone-xs} {
      margin-bottom: 15px;
    }
  }
  .doctor-card:hover, .partner-card:hover {
    @extend %divs-shadows;
  }
  .doctor-card:focus, .partner-card:focus {
    outline: 0;
  }
  .blood-partner {
    background-color: $medium-grey;
  }
}

.storage-s {
  p {
    margin-bottom: 0;
  }
  hr {
    @extend %storage-section-hr;
  }
  .storage-divs {
    .storage-card {
      @extend %cards-structure;
      height: 302px;
      .storage-fontsize {
        font-size: 20px;
      }
      .storage-price {
        font-size: 50px;
      }
      @media #{$phone-xs} {
        width: 100%;
      }
      @media #{$tablet} {
        width: 100%;
      }
    }
    .storage-la-card {
      margin:0;
      @media #{$phone-xs} {
        margin-bottom: 15px;
      }
    }
    .storage-la-card:hover, .storage-seattle-card:hover {
      @extend %divs-shadows;
    }
    .storage-la-card:focus, .storage-seattle-card:focus {
      outline: 0;
    }
  }
  .chooselo--header {
    @extend %bold-titles;
    margin: 50px 0px 0px 0px;
  }
  .storage-divs {
    margin: 25px 0px 60px 0px;
  }
}

.first-order-s {
  background-color: $light-grey;
  p {
    margin-bottom: 0;
  }
  .your-order__title {
    @extend %bold-titles;
    color: $main-purple;
    padding: 40px 0px 0px 0px;
  }
  .first-order__div {
    margin: 50px 0px 30px 0px;
  }
  .your-order__text:nth-of-type(1), .your-order__text:nth-of-type(3) {
    font-size: 25px;
  }
  .your-order__text:nth-of-type(2) {
    color: $grey-text;
  }
}

.second-order-s {
  .quantity-button {
    margin: 30px 0px 30px 0px;
    @media #{$phone-xs} {
    margin: 30px 0px 0px 0px;
    }
    p {
      margin: 10px 0px 0px 0px;
      font-size: 12px;
      @media #{$tablet} {
        font-size: 9px;
        input#quantity {
          width: 100%;
        }
      }
    }
    input#quantity {
      @media #{$tablet} {
        width: 100%;
      }
    }
  }
  .quantity-line, .quantity-numbers {
    font-size: 22px;
  }
  .quantity-line {
    border-left: 2px solid $grey-borders;
    margin: 8px 0px 8px 0px;
    p:nth-of-type(1) {
      margin: 50px 0px 5px 0px;
    }
    span {
      color: $grey-text;
    }
  }
  .quantity-numbers {
    p:nth-of-type(1) {
      margin: 50px 0px 5px 0px;
      @media #{$phone-xs} {
      margin: 60px 0px 5px 15px;
      }
    }
    p:nth-of-type(2) {
      margin: 50px 0px 5px 0px;
      @media #{$phone-xs} {
      margin: 138px 0px 5px 0px;
      }
    }
  }
}

.discount-code-s {
  color: $white;
  background-color: $orange;
  .discount-bar {
    padding: 30px 0px 30px 0px;
  }
  .discount-bar__input {
    border: none;
    border-radius: $c-border;
    width: 38%;
    margin: 0px 5px 0px 0px;
    @media #{$phone-xs} {
      width: auto;
    }
  }
  .discount-bar__button {
    width: 10%;
    @extend %no-bg-button;
    @media #{$phone-xs} {
      width: auto;
    }
  }
}

.breakdown-s {
  width: 100%;
  box-shadow: 3px 3px 3px #333;
  position: relative;
  .breakdown-amounts {
    margin: 10px 0px 0px 0px;
  }
  .breakdown-checkout {
    @extend %bg-button;
    width: 45%;
    @media #{$phone-xs} {
      width: auto;
    }
  }
  .payment-methods {
    img:nth-of-type(1) {
      max-width: 40%;
      @media #{$phone-xs} {
        max-width: 60%;
      }
    }
  }
  .secure-server {
    img:nth-of-type(1) {
      max-width: 30%;
      @media #{$phone-xs} {
        max-width: 50%;
      }
    }
  }
}

.questions-s {
  color: $black;
  background-color: $light-grey;
  .question-div {
    .col-6 {
      padding-right: 0;
      padding-left: 0;
    }
    .individual-question, .individual-question-2 {
      background-color: $white;
      .ind-question-title {
        font-size: 25px;
        padding: 15px 0px 5px 15px;
      }
      .ind-question-text {
        font-size: 18px;
        padding: 0px 0px 20px 15px;
      }
    }
    .individual-question:nth-of-type(1) {
      margin: 0px 0px 0px 20px;
      @media #{$phone-xs} {
        margin: 0px 0px 0px 0px;
      }
    }
    .individual-question:nth-of-type(2) {
      margin: 0px 0px 0px 0px;
      @media #{$phone-xs} {
        margin: 0px 0px 0px 0px;
      }
    }
    .individual-question-2:nth-of-type(1) {
      margin: 0px 20px 10px 20px;
      overflow-wrap: break-word;
      @media #{$phone-xs} {
        margin: 0px 0px 0px 0px;
      }
    }
    .individual-question-2:nth-of-type(2) {
      margin: 0px 20px 10px 20px;
      overflow-wrap: break-word;
      @media #{$phone-xs} {
        margin: 0px 0px 0px 0px;
      }
    }
  }
  .faq--title {
    @extend %bold-titles;
    color: $main-purple;
    padding: 40px 0px 40px 0px;
  }
}

.schedule-s {
  color: $white;
  background-color: $orange;
  .schedule-s-content {
    .schedule-button {
      @extend %center;
      button {
        @extend %no-bg-button;
      }
      @media #{$phone-xs} {
      margin-bottom: 30px;
      }
    }
    .schedule-s-text:nth-of-type(1) {
      font-size: 35px;
      margin: 50px 0px 0px 30px;

    }
    .schedule-s-text:nth-of-type(2) {
      font-size: 18px;
      margin: 0px 0px 50px 30px;
      @media #{$phone-xs} {
      margin: 0px 0px 25px 30px;
      }
    }
  }
}

.footer-d {
  ul {
    @media #{$phone-xs} {
      margin-top: 25px;
    }
  }
}
